.featured-cards {
  margin-bottom: 60px;

  .container {
    margin: 0 auto;
    max-width: 1256px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    font-family: Gotham, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 120%;
    letter-spacing: -1px;
    color: #000000;
    margin-bottom: 4rem;
  }

  .featured-loop {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style-type: none;
    margin: 0;
    justify-content: space-between;

    .featured-card {
      display: flex;
      flex-direction: column;
      position: relative;
      border: 1px solid #D1CDC8;
      padding-bottom: 40px;
      margin-bottom: 40px;

      .read-more-wrap {
        position: absolute;
        bottom: 10px;
        right: 15px;

        svg {
          fill: white;
          transition: all 0.2s ease-in-out;

          &:hover {
            fill: darken(white, 5%);
          }
        }
      }

      .featured-image {
        position: relative;
        height: auto;

        img {
          width: 100%;
          margin-bottom: 0;
        }

        .play-icon {
          z-index: 99;
          margin: auto;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          height: 34px;
          width: 34px;
          border-radius: 34px;
          background: #000;
          opacity: 0.7;
          -moz-transition: all .2s;
          -ms-transition: all .2s;
          -o-transition: all .2s;
          -webkit-transition: all .2s;
          transition: all .2s;

          &:after {
            content: "";
            display: block;
            position: absolute;
            top: 12px;
            left: 13px;
            margin: 0 auto;
            border-bottom: 6px solid transparent;
            border-top: 6px solid transparent;
            border-left: 11px solid #FFF;
          }
        }
      }

      .featured-textbox {
        padding: 33px 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;

        .featured-logo {
          text-align: center;
          width: 100%;
          margin-bottom: 0;

          img {
            max-height: 70px;
          }
        }

        .featured-card-title {
          width: 100%;

          h3 {
            font-family: Gotham, sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 34px;
            line-height: 120%;
            color: #383D44;
            margin: 33px 0;
          }
        }

        .featured-excerpt {

          p {
            width: 100%;
            font-family: Gotham, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 140%;
            color: #83868B;
            padding: 0;
            margin: 0;
          }
        }
      }

      &.col-3 {
        //max-width: 25%;
        width: 25%;
        //flex-basis: 250px;

        @media(min-width: 768px) {

        }
      }

      &.col-4 {
        //max-width: 33.3%;
        width: 33.3%;
        //flex-basis: 376px;

        @media(min-width: 768px) {

        }
      }

      &.col-6 {
        width: 100%;

        @media(min-width: 768px) {
          width: 48%;
        }
      }

      &.col-12 {
        //max-width: 100%;
        width: 100%;
        //flex-basis: 580px;

        @media(min-width: 768px) {

        }
      }
    }
  }
}