.five-cards {

  h2 {
    font-family: Gotham, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 120%;
    letter-spacing: -1px;
    color: #000;
    margin-bottom: 4rem;
    margin-top: 0;
    text-align: center;
  }

  .cards {
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 3%;

    .cards-item {
      display: flex;
      margin-bottom: 5%;
      width: 100%;

      @media(min-width: 768px) {
        flex-grow: 1;
        width: 31.33333%;
        margin-bottom: 3%;
      }

      .card {
        background-color: white;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: 100%;

        .card-content {
          display: flex;
          height: 100%;
          flex-direction: column;
          padding: 0 0 3rem;
          position: relative;
        }

        .card-image {
          width: 100%;
          position: relative;
          margin-bottom: 10px;

          img {
            width: 100%;
            height: auto;
          }
        }

        h3 {
          font-family: Gotham, sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 120%;
          color: #383d44;
          margin: 0 0 10px;

          @media(min-width: 576px) {
            font-size: 20px;
          }

          @media(min-width: 768px) {
            font-size: 26px;
          }
        }

        .card-link {
          position: absolute;
          bottom: 10px;
          left: 0;

          span {
            color: #83868b;

            &:after {
              content: "|";
              margin-left: 5px;
            }
          }

          a {
            color: #D54E21;
          }
        }
      }
    }
  }
}